<!DOCTYPE html>
 
<html>
    <head>
        <title>Menu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../resources/css/bootstrap.min.css" type="text/css"/>
        <style>
            table {
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                border: 1px solid #ddd;
            }

            th, td {
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even){
                background-color: #f2f2f2
            }
        </style><!-- comment -->
    </head>
    <body>
        <div class="container"> 
            <div class="navbar text-center">
                <h1>  Hotel Name </h1>
            </div>

            <div class="table-bordered" style="overflow-x:auto; padding: 15px;">
                <h3 class="row"> Non-Veg Starters </h3>
                <table>
                    <thead>
                        
                        <tr><td>Sl. No</td><td>Food Name</td><td>Price</td></tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td>Chicken Peppar Eden Special (Full)</td><td> ₹ 350</td></tr>
                        <tr><td>2</td><td>Chicken Peppar Eden Special (Half)</td> <td>₹ 175</td></tr>
                        <tr><td>3</td><td>Chicken 555</td><td> ₹ 180</td></tr>
                        <tr><td>4</td><td>Chicken Sweet 16</td><td> ₹ 165</td></tr>
                        <tr><td>5</td><td>Chicken Manchurian</td><td> ₹ 165</td></tr>
                        <tr><td>6</td><td>Chilly Chicken</td><td> ₹ 155</td></tr>
                        <tr><td>7</td><td>Punjabi Chicken Dry</td><td> ₹ 155</td></tr>
                        <tr><td>8</td><td>Ginger Chicken Dry</td><td> ₹ 150</td></tr>
                        <tr><td>9</td><td>Peppar Chicken Dry</td><td> ₹ 150</td></tr>
                        <tr><td>10</td><td>Lemon Chicken Dry</td><td> ₹ 150</td></tr>
                        <tr><td>11</td><td>Chicken Fry</td><td> ₹ 150</td></tr>
                        <tr><td>12</td><td>Chicken Dry</td><td> ₹ 155</td></tr>
                        <tr><td>13</td><td>Chicken Kabab</td><td> ₹ 150</td></tr>
                        <tr><td>14</td><td>Chicken Lollipop</td><td> ₹ 160</td></tr>
                        <tr><td>15</td><td>Chicken Chettinad</td><td> ₹ 155</td></tr>
                        <tr><td>16</td><td>Peppar wings</td><td> ₹ 160</td></tr>
                        <tr><td>17</td><td>Japanese Quil Kabab Dry</td><td> ₹ 110</td></tr>
                        <tr><td>18</td><td>Japanese Quil Fry</td><td> ₹ 110</td></tr>
                    </tbody>
                </table>
                
                <h3 class="row"> Veg Starters </h3>
                <table>
                    <thead>
                        
                        <tr><td>Sl. No</td><td>Food Name</td><td>Price</td></tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td>Gobi Manchurian </td><td> ₹ 110</td></tr>
                        <tr><td>2</td><td>Gobi Chilly</td> <td>₹ 110</td></tr>
                        <tr><td>3</td><td>Gobi Peppar Dry</td><td> ₹ 110</td></tr>
                        <tr><td>4</td><td>Paneer Chilly</td><td> ₹ 120</td></tr>
                        <tr><td>5</td><td>Paneer Manchurian</td><td> ₹ 120</td></tr>
                        <tr><td>6</td><td>Paneer 65</td><td> ₹ 120</td></tr>
                        <tr><td>7</td><td>Paneer Papper Dry</td><td> ₹ 120</td></tr>
                        <tr><td>8</td><td>Mushroom Chilly</td><td> ₹ 120</td></tr>
                        <tr><td>9</td><td>Mushroom Manchurian</td><td> ₹ 120</td></tr>
                        <tr><td>10</td><td>Mushroom Peppar Dry</td><td> ₹ 125</td></tr>
                        <tr><td>11</td><td>Baby Corn Peppar Dry</td><td> ₹ 125</td></tr>
                        <tr><td>12</td><td>Baby Corn Chilly</td><td> ₹ 120</td></tr>
                        <tr><td>13</td><td>Baby Corn Manchurian</td><td> ₹ 120</td></tr>
                        <tr><td>14</td><td>Baby Corn Golden Fry</td><td> ₹ 110</td></tr>
                        <tr><td>15</td><td>Veg Manchurian</td><td> ₹ 125</td></tr>
                        
                    </tbody>
                </table>
                
                <!--table>
                    <thead>
                        <tr> 
                            <th scope="col">Sl.No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Rating</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th scope="row">1</th>
                            <td>Chicken Spring Roll</td>
                            <td>140</td>
                            <td>4/5</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Veg Spring Roll</td>
                            <td>100</td>
                            <td>3.5/5</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Paneer Spring Roll</td>
                            <td>130</td>
                            <td>2.5/5</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Egg Spring Roll</td>
                            <td>110</td>
                            <td>3/5</td>
                        </tr>
                    </tbody>
                </table-->

            </div>


        </div>    

    </body>
</html>
