.header-row{
   background-color: red;
   font-size: 20px;
   width: 72mm;
   text-align: center;
}
table1,th,td{
    border: 1px solid black ;
    color: black;
    border-collapse: collapse;
}
table2{
    margin-right: 10px;
}
img{
  height: 15%;
  width: 15%;
  float: left;
  flex: 33.33%;
}
td{
    padding-right: 10mm;
}

